<div class="h-[93vh] bg-[url('/assets/images/bgImage.png')] bg-no-repeat bg-cover">
  <section class="">
    <div class="bg-white p-3 py-2 text-2xl absolute top-20 left-0 w-80 flex items-center justify-end rounded-r">
      <span class="mx-5 font-bold">
        Student Details Portal
      </span>
    </div>
    <div class="text-xl absolute top-36 left-20 w-[40vw] flex items-center justify-start bg-white p-3 rounded">
      <span>
        Welcome to our student portal – your digital hub for academic success. Access your details effortlessly, making your educational journey smoother than ever.
      </span>
    </div>
    <div class="absolute top-[22rem] w-[15rem] left-0 p-4 bg-white rounded-r">
      <h2 class="title-font font-medium text-3xl text-gray-900 text-center">{{Count}}</h2>
      <p class="leading-relaxed text-xl text-center">Registered Students</p>
    </div>
  </section>    
</div>
