<div class="SubjectPage">
    <!-- Delete Model -->
    <app-delete-popup (conformationEvent)="conformationFun($event)" [modalOpen]="deleteModel" deleteType="Subject"></app-delete-popup>
    <!-- Model for add Subject -->
    <div [ngClass]="{'hidden': !modalOpen}" class="absolute w-full backdrop-blur-sm top-12" style="height: 90%;">
        <div class="center-code w-96 shadow-lg">
            <div class=" bg-white rounded-lg shadow">
                <div class="flex items-center justify-between p-3 py-2 border-b rounded-t bg-slate-300 border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark">
                        {{ModalOption}} Subject
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-100 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" (click)="toggleModal()">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <form class="p-4" [formGroup]="subjectForm" (ngSubmit)="insertSubject()">
                    <div class="grid gap-2 mb-3 grid-cols-2">
                        <div class="col-span-2">
                            <label for="s_Name" class="block mb-2 text-sm font-medium text-gray-900 dark">
                                Name :
                            </label>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline hover:border-gray-500"
                            id="s_Name"
                            type="text"
                            placeholder="" 
                            formControlName="s_Name"
                            name="s_Name"/>
                            <small
                                *ngIf="s_Name.invalid && (s_Name.dirty || s_Name.touched)"
                                class="block text-red-600"
                                >
                                <div *ngIf="s_Name.errors?.['required']">Subject Name is required.</div>
                                </small>
                        </div>
                        <div class="col-span-2">
                            <label for="s_Code" class="block mb-2 text-sm font-medium text-gray-900 dark">
                                Code :
                            </label>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline hover:border-gray-500"
                            id="s_Code"
                            type="text"
                            placeholder="" 
                            formControlName="s_Code"
                            name="s_Code"/> 
                            <small
                                *ngIf="s_Code.invalid && (s_Code.dirty || s_Code.touched)"
                                class="block text-red-600"
                                >
                                <div *ngIf="s_Code.errors?.['required']">Subject Code is required.</div>
                                </small>  
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="text-white flex items-center bg-slate-500 hover:bg-slate-600 hover:shadow-lg focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        [disabled]="subjectForm.invalid">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Subject List Part -->
    <div class="mx-3 mt-2 shadow-lg rounded md:mx-10" style="height: 90vh;">
        <div class="bg-slate-600 p-2 py-1 mb-1  rounded flex justify-between items-center">
            <div class="text-white font-bold uppercase" >
                Subject List : 
            </div>
            <div>
                <button class="bg-gray-500 text-white px-2 rounded hover:bg-gray-900 py-1" (click)="toggleModal()">Add Subject</button> 
            </div>
        </div>
        <div class="bg-white py-1 rounded rounded-b-none border-b-2 border-black font-bold grid grid-cols-3 text-center text-lg">
            <div class="grid grid-cols-5 text-left px-2">
                <span class="">
                    S.No.
                </span>
                <span class="col-span-4">
                    Name
                </span>
            </div>
            <div>Code</div>
            <div></div>
        </div>
        <div class=" bg-white">
            <div *ngFor="let subject of subjectList | paginate:{itemsPerPage:pageSize,currentPage:currentPage};let i=index" class=" py-1 grid grid-cols-3 text-center border border-x-0 text-lg items-center px-1">
                <div class="grid grid-cols-5 text-left px-2">
                    <span class="">
                        {{i+1+(pageSize*(currentPage-1))}}.
                    </span>
                    <span class="col-span-4">
                        {{subject.s_Name}}
                    </span>
                </div>
                <div>{{subject.s_Code}}</div>
                <div class="flex justify-center items-center gap-4">
                    <button class="border border-slate-600 p-1 py-0 rounded  hover:text-white hover:border-slate-600 hover:bg-gray-500" (click)="updateSubject(subject)">
                        <i class="pi pi-pencil underline"></i>
                    </button>
                    <button class="border border-black p-1 py-0 rounded hover:text-red-600 hover:border-red-600 hover:bg-gray-200" (click)="deleteSubject(subject.id)">
                        <i class="pi pi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="bg-white rounded-b flex justify-center items-center border-t-2 border-black h-12 pt-3">
            <pagination-controls class="flex items-center text-center text-gray-500" (pageChange)="currentPage = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
        </div>
    </div>
</div>
